.element__1 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__2 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__3 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__4 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__5 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__6 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__7 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__8 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__9 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__10 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__11 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__12 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__13 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__14 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__15 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__16 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__17 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__18 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__19 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__20 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__21 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__22 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__23 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__24 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__25 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__26 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__27 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__28 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__29 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__30 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__31 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__32 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__33 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__34 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__35 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__36 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__37 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__38 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__39 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__40 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__41 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__42 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__43 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__44 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__45 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__46 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__47 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__48 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__49 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__50 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__51 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__52 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__53 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__54 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__55 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__56 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__57 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__58 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__59 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__60 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__61 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__62 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__63 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__64 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__65 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__66 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__67 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__68 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__69 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__70 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__71 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__72 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__73 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__74 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__75 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__76 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__77 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__78 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__79 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__80 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__81 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__82 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__83 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__84 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__85 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__86 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__87 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__88 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__89 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__90 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__91 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__92 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__93 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__94 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__95 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__96 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__97 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__98 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__99 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.element__100 {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: calc(100vh / 2);
    left: 500px;
    border: 2rem solid rgba(255, 120, 10, 0.4);
    padding: 10px 0 35px 1em;
    margin-bottom: 50px;
    background-color: #CCCCCC;
    height: 300px;
    max-width: calc(100vw / 2);
    font-size: 12rem;
    line-height: 1.5em;
    color: darkgreen;
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}
